.container {
    display: flex;
    overflow: hidden;
}

.nav_bar {
    display: flex;
    position: absolute;
    right: 10px;
}

.nav_bar_items,
.nav_bar_items_hover {
    text-align: center;
    width: 200px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    background-color: #F4F4F4;
}

.nav_bar_items_hover:hover {
    background-color: #a7a5a5;
}

.mobile_version {
    position: absolute;
    width: 400px;
    height: 866px;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 10px;
    margin-left: 0px;
}

.circle {
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: grey;
    margin-top: 30px;
    margin-left: 90px;
    /* z-index: -1; */
}

h1,
h4 {
    text-align: center;
    margin-top: 90px;
}

.name_top {
    position: absolute;
    z-index: 2;
    padding: 20px;
    margin-left: 80px;
}

.mobile_container {
    width: 400px;
    height: 850px;
    background-color: #CFCFCF;
    margin-top: 150px;
}

.mobile_blocks {
    display: flex;
    top: 50px;
    margin-left: 30px;
}

.mobile_block {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
    margin-top: 280px;
}

.white_block {
    position: relative;
    width: 300px;
    height: 334px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 30px;
    margin-top: 0px;
    padding: 20px;
}

.white_block_items {
    width: 40px;
    height: 40px;
    background-color: #C2C0C0;
    margin: 20px;
}

.footer_block_mobile {
    width: 340px;
    height: 50px;
    border-radius: 10px;
    background-color: #808080;
    margin-top: 100px;
    margin-left: -20px;
}

.container2 {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 900.39px;
    height: 600px;
    border-radius: 10px;
    background-color: rgb(187, 186, 186);
}

.my_works {
    font-size: 36px;
    color: black;
}

.lists {
    font-size: 24px;
    color: grey;
    margin-left: 34px;
}

.container_blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container_block1 {
    display: flex;
    flex-wrap: wrap;
    width: 380px;
    height: 300px;
    background-color: #fff;
    margin: 15px;
}

.date {
    font-size: 22px;
    color: grey;
    margin-left: 15px;
}

.row {
    /* flex-direction: row; */
}

.block_item {
    display: flex;
    width: 320px;
    height: 190px;
    background-color: rgb(187, 186, 186);
    margin: 15px;
}